body {
    background-color: gainsboro;
}

.restaurant-info {
    background-image: linear-gradient(to left, rgb(150, 85, 150),  purple);
    color: white;
    margin: 50px;
    border-radius: 10px;
    font-weight: bold;
}

.home-img {
    padding: 1px solid black;
}

#restaurant-picture {
    border-radius: 10px;
}

.navbar-menu {
    background-image: linear-gradient(-5deg, black, transparent)


}
.input {
    margin-right: 50%;
    margin-top: 7px;
    
}

.title h1 {
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 80px;
    color: rgb(76, 23, 76)
}

img:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.bottom-info {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    background-color: gainsboro;
    color: black;
    



}

.contact {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.choices {
    padding: 20px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    

}

.filter-button {
    display: flex;
    align-items: center;
    left: 46%;
    bottom: 14px;
    
}

legend {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    
    
}

#map
{
    height: 700px;
    width: 100%;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #04AA6D;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }

  .next-button {
    display: flex;
    justify-content: center;
  }

  #restaurant-picture {
    width: 300px;
    height: 300px;
  }