body {
    background-color: gainsboro;
}

.restaurant-info {
    background-image: linear-gradient(to left, rgb(150, 85, 150),  purple);
    color: white;
    margin: 50px;
    border-radius: 10px;
    font-weight: bold;
}

.home-img {
    padding: 1px solid black;
}

#restaurant-picture {
    border-radius: 10px;
}

.navbar-menu {
    background-image: linear-gradient(-5deg, black, transparent)


}
.input {
    margin-right: 50%;
    margin-top: 7px;
    
}

.bottom-info {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    background-color: gray;
    color: white;



}

.choices {
    padding: 20px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

legend {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    
}

#maps
{
    height: 700px;
    width: 100%;
}
